.adminContainer {
  margin: 0;
  padding: 0;
  background-color: rgb(223, 223, 223);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw !important;
}

.header {
  color: rgb(0, 0, 59);
  font-weight: bold;
  padding: 1.5rem;
}

.form {
  max-width: 80%;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40em;
}

.form button {
  color: #fff;
  width: 7rem;
  background-color: rgb(43, 168, 177);
  margin: 0 auto;
}

.form button:hover {
  background-color: rgb(32, 124, 130);
}

.error {
  color: red;
}

.gridContainer {
  background-color: white;
  margin-top: 2rem;
  max-width: 80%;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 40em;
}

.filterAndSearch {
  display: flex;
  gap: 1rem;
}

.chart {
  background-color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 80%;
  width: 40em;
  padding: 2rem;
  border-radius: 0.5rem;
}

.chart h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .filterAndSearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 3rem;
    gap: 1rem;
  }

  .buttons > button {
    background-color: rgb(44, 44, 146);
    border-radius: 0.5rem;
    width: 80%;
    color: white;
  }

  .requestContainer > li {
    display: flex;
    flex-direction: column;
  }
}
